<% if policy(Vote.new).create? %>
<div class="pull-left pull-left">
   <div><%= link_to " ", topic_post_up_vote_path(topic, post), class: 'glyphicon glyphicon-chevron-up', method: :post %></div>
   <div><strong><%= post.points %></strong></div>
   <div><%= link_to " ", topic_post_down_vote_path(topic, post), class: 'glyphicon glyphicon-chevron-down', method: :post %></div>
</div>
<% end %>